body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.container h1 {
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.container p {
  margin-bottom: 30px;
  color: #555;
  text-align: center;
  
}
.container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.container label {
  display: block;
  margin-top: 10px;
  color: rgb(0, 0, 0);
}

.container input {
  width: 100%;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
}

.container button {
  width: 100%;
  padding: 8px;
  margin-top: 20px;
  background-color: #23e5db;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.have-acc {
margin-top: 15px;
text-align: center;
}

.container a {
  color: blue;
}

