.view-prd-box {
  display: flex;
  gap: 20px;
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 20px auto;
  justify-content: center;
}

.prd-img {
  width: 250px;
  border-radius: 10px;
}

.prd-details {
  flex: 1;
}

.price {
  color: #000;
  font-size: 22px;
  margin: 10px 0;
}

.desc {
  color: #555;
  line-height: 1.6;
}

.seller {
  color: #777;
  margin: 10px 0;
}

.buy-btn {
  display: inline-block;
  background-color: #23e5db;
  color: #000;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 10px;
}


