body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.profile-container {
  width: 900px;
  margin: 30px auto;
}

.profile-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.profile-card h2 {
  margin-bottom: 15px;
}
.product-card h3 {
  margin-bottom: 10px;
}

  .btn {
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 8px;
    font-weight: bold;
  }


.stats {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.stat-box {
  flex: 1;
  background: white;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
}

.stat-box p {
  font-size: 24px;
  font-weight: bold;
}

.products-section {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.product-card {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.product-card:last-child {
  border-bottom: none;
}

.title {
  font-weight: bold;
}

.price {
  color: green;
}

.actions {
  margin-top: 10px;
}

.edit {
  background-color: #1dcac7;
  color: rgb(0, 0, 0);
}

.delete {
  background-color: #000000;
  color: rgb(255, 255, 255);
}
